#----persistencia----
src/main/resources/META-INF/persistence.xml
# --- Maven Build Outputs ---
target/
*.jar
*.war
*.ear

# --- IDE Config Files ---
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# --- OS temporary files ---
.DS_Store
Thumbs.db